@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}

.navbar-mio {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
  z-index: 10;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  display: flex;
  justify-content: end;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  margin: 0;
  margin-right: 20px;
}

ul {
  margin-bottom: 0px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar-links a:hover {
  color: #f0f0f0;
}

.inventario-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.formulario-container {
  position: fixed;
  left: 5px;
  width: 25%;
  z-index: 1000;
}

.formulario {
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-group textarea {
  resize: none;
  height: 120px;
}

.input-button-group {
  display: flex;
  gap: 10px;
}

.input-button-group input {
  flex-grow: 1;
}

.input-button-group button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-button-group button:hover {
  background-color: #0056b3;
}

.generar-codigo {
  width: 100%;
  padding: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.generar-codigo:hover {
  background-color: #218838;
}

.tabla-productos {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  /* Color de fondo para el encabezado */
  color: white;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) td {
  background-color: #f4f4f4;
  /* Alterna el color de fondo en las filas */
}

tr:hover td {
  /* Color de fondo cuando pasas el mouse por encima */
  cursor: pointer;
}

.editar {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.editar:hover {
  background-color: #007bff;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.modal-form-group {
  margin-bottom: 15px;
}

.modal-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.buscador {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: relative;
}

.buscador input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabla-container {
  margin-left: 26%;
}

.paginacion {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tabla-container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabla-container-info .buscador {
  margin-top: 10px;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-body {
  display: flex;
  width: 98%;
  height: 90%;
  white-space: pre-line;
  gap: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 50px;
  z-index: 2000;
}

.close:hover {
  color: red;
  cursor: pointer;
}

.modal-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  position: relative;
}

.nombre-anio {
  display: flex;
  justify-content: space-between;
}

.modal-precios {
  display: flex;
  font-size: 50px;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;
  padding-right: 30px;
}

.modal-precios-stock {
  display: flex;
  gap: 40px;
}

.descripcion {
  font-size: 25px;
}

.nombre,
.año {
  font-size: 60px;
}

.año {
  margin-right: 100px;
}

.cepa {
  font-size: 50px;
  margin-bottom: 30px;
}

.modal-image img {
  height: 100%;
  border-radius: 3%;
}

.modal-precios {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-nav {
  width: 50px;
  border-radius: 40%;
}

.navbar-logo {
  height: 50px;
}

.navbar-logo:hover {
  cursor: pointer;
}

.fav .bi:hover {
  cursor: pointer;
  color: red;
}

.carrito {
  font-size: 30px;
}

.carrito:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.foto-fav {
  font-size: 20px;
  text-align: center;
  position: relative;
  width: 70px;
}

.carrito-foto {
  position: absolute;
  bottom: 8px;
  left: 13px;
}

.fav {
  position: absolute;
  bottom: 5px;
  right: 13px;
}

.carrito-mini {
  position: absolute;
  bottom: 9px;
  right: 90px;
}

.carrito-mini:hover {
  cursor: pointer;
  color: red;
}

.tr-info {
  cursor: pointer;
}

.buscar-favorito {
  display: flex;
  gap: 10px;
}

.producto-posicion-modal {
  position: absolute;
  bottom: 9px;
  right: 170px;
}

.toggle-button {
  padding: 5px 15px;
  height: 38px;
  border: 2px solid #333;
  background-color: #ffffff;
  color: red;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.toggle-button.active {
  background-color: #333;
  color: white;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.toggle-button.active:hover {
  background-color: #333;
}

.toggle-carrito {
  color: black;
}

.toggle-carrito.active {
  background-color: #333;
  color: white;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.toggle-button i {
  position: relative;
}

.carrito-toggle {
  top: -2px;
  /* Ajusta este valor según lo que necesites */
}

.td-fav {
  color: red;
  font-size: 25px;
}

.td-fav:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.toggle-reload {
  position: absolute;
  right: 20px;
  color: black;
  width: 100px;
}

/*VENTAS*/

.ventas-container {
  display: flex;
  padding: 20px;
  background-color: white;
  height: 90%;
  min-height: 680px;
}

.productos-section {
  width: 70%;
  margin-right: 20px;
}

.resumen-section {
  width: 30%;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-size: 18px;
  position: relative;
  height: 100%;
}

.resumen-section>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.productos-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.producto-item {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 100%;
}

.producto-imagen img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.producto-detalle {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.producto-detalle-div {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto-nombre {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.producto-precio {
  font-size: 26px;
  color: #28a745;
  margin-left: 40px;
}

.producto-cantidad {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.producto-cantidad input[type="text"] {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
  font-size: 20px;
}

.producto-acciones {
  margin-top: 10px;
}

.boton-venta {
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.boton-cantidad {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.boton-cantidad:hover {
  color: blue;
}

.div-eliminar {
  display: flex;
  align-items: center;
  width: 100%;
}

.div-boton-venta {
  margin-right: 20px;
}

.titulo-precio {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.formapago-buttons {
  display: flex;
  gap: 10px;
}

.formapago-buttons button {
  padding: 10px;
  font-size: 22px;
  border-radius: 6px;
  border: 1px solid black;
}

.formapago-buttons button.active {
  background-color: #007bff;
  color: white;
}

.button-formpago:hover {
  cursor: pointer;
}

.input-cuit {
  text-align: center;
  font-size: 18px;
}

.div-cuit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-boton-finalizar {
  position: absolute;
  bottom: 30px;
}

.boton-finalizar {
  padding: 10px;
  font-size: 26px;
  border-radius: 6px;
  border: 1px solid black;
}

.boton-finalizar:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.nafta {
  width: 50px;
}

.red-tr td {
  background-color: red;
}

.transparent td {
  background-color: transparent;
}

.div-caja {
  display: flex;
  align-items: start;
}

.inputs-caja {
  width: fit-content;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 3px;
  background-color: rgb(173, 173, 173);
  border-radius: 3px;
}

.inputs-caja input,
.inputs-caja textarea {
  width: 100%;
  text-align: center;
  font-size: 20px;
  outline: none;
  border: 1px solid black;
}

.inputs-caja textarea {
  height: 120px;
  resize: none;
}

.botones-caja {
  display: flex;
  gap: 20px;
}

.botones-caja button {
  padding: 5px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  border: 1px solid blacK;
}

.botones-caja button:hover {
  cursor: pointer;
  background-color: #0853a3;
  color: white;
}

.react-datalist-input__container {
  width: 100%;
  position: relative;
}

.react-datalist-input__textbox {
  width: 100%;
}

.react-datalist-input__listbox {
  width: 100%;
  position: absolute;
  margin: 2px 0 0 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  z-index: 10;
}

.react-datalist-input__listbox-option {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: black;
  padding: 5px;
  background-color: rgb(241, 241, 241);
  border: 1px solid black;
  border-top: 0px;
}

.react-datalist-input__listbox-option:focus {
  background-color: #007bff;
  color: white;
}

.react-datalist-input__listbox-option:hover {
  background-color: #007bff;
  color: white;
}

.div-tablas-caja {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.tablas-input {
  margin-left: 10px;
}

.caja-editar {
  width: 0px;
}

.buscador-ventas {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.negrita {
  color: black;
}

.subtotal-carrito {
  display: flex;
  gap: 10px;
}

.boton-activo {
  background-color: #007bff;
  color: white;
}

.input-disabled {
  background-color: rgb(226, 226, 226);
}

.boton-cierre-caja {
  width: 100%;
}

.boton-cierre-caja button {
  padding: 5px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  border: 1px solid blacK;
  width: 100%;
}

.boton-cierre-caja button:hover {
  cursor: pointer;
  background-color: #0853a3;
  color: white;
}

button:active {
  scale: 0.95;
}

.select-estadisticas {
  text-align: center;
  background-color: #007bff;
  margin: 10px;
  color: white;
  font-size: 18px;
  border: none;
  padding: 5px;
  outline: none;
  border-radius: 2px;
}

.div-select-estadisticas {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #007bff;
}

.rojo {
  background-color: rgb(218, 48, 48) !important;
  color: white !important;
  border-radius: 50%;
}

.amarillo {
  background-color: rgb(207, 218, 48) !important;
  color: white !important;
  border-radius: 50%;
}

.verde {
  background-color: rgb(48, 218, 62) !important;
  color: white !important;
  border-radius: 50%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.cuadrado-rojo {
  position: fixed;
  left: 5px;
  bottom: 5px;
  background-color: rgb(218, 48, 48) !important;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.cuadrado-amarillo {
  position: fixed;
  left: 45px;
  bottom: 5px;
  background-color: rgb(207, 218, 48) !important;
  border-radius: 5px;
  padding: 5px;
}

.cuadrado-rojo:hover {
  cursor: pointer;
  background-color: rgb(220, 26, 26) !important;
}

.cuadrado-amarillo:hover {
  cursor: pointer;
  background-color: rgb(194, 220, 26) !important;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-turno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-turno {
  text-align: center;
}

.modal-header {
  text-align: center;
}

.red {
  color: red;
}

.div-total {
  font-size: 30px;
}

.descuento-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
}

.icono-caja {
  font-size: 25px;
}

.tr-cursor-pointer {
  cursor: pointer;
}

.botones-filtro {
  display: flex;
  gap: 20px;
}

.botones-filtro button {
  padding: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.proximos {
  padding: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.flechas-paginacion {
  border: none;
  color: black;
  font-size: 28px;
  background-color: transparent;
}

.flechas-paginacion:hover {
  color: #000000a1;
  cursor: pointer;
}

tr td.fila-amarilla {
  background-color: rgba(255, 255, 0, 0.733);
}

tr td.fila-verde {
  background-color: rgba(0, 255, 0, 0.575);
}

.th-cantidad {
  text-wrap: nowrap;
}

.th-cantidad:hover {
  cursor: pointer;
}

.estadisticas {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.totales {
  display: flex;
  gap: 10px;
}

.container-flujos {
  display: flex;
  align-items: self-start;
}

.formulario-fujos {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 20px;
  border: 1px solid black;
  margin: 3px;
  padding: 10px;
  background-color: rgb(173, 173, 173);
  border-radius: 3px;
}

.input-flujos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.input-flujos input {
  width: 250px;
  text-align: center;
}

.boton-flujos {
  width: 250px;
  border: none;
}

.table-flujos{
  width:100%;
}

.flujo-color td {
  background-color: #84e063;
}

@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
    height: auto;
  }

  .modal-body {
    flex-direction: column;
  }

  .modal-info {
    grid-template-columns: 1fr;
  }

  .formulario-container {
    position: relative;
    width: 100%;
    left: 0;
  }

  .tabla-container {
    margin-left: 0;
  }
}